* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

button, select, input {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

li {
    list-style: none;
}